body {
    background-color: chartreuse;
    direction: rtl;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    position: fixed;
    background-color: #333;
    top: 0;
    width: 200%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}


/* Style the element with the id "Header" */

#Header {
    background-color: lightblue;
    color: black;
    padding: 30px;
    text-align: center;
}


/* Style all elements with the class name "property" */

.property {
    background-color: rgb(228, 42, 9);
    color: white;
    padding: 15px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


/* Style the element with the id "image" */

#image {
    width: 300px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
}


/* Style the element with the id "imagetable" */

#imagetable {
    width: 70px;
    height: 50px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
}

th,
td {
    border: 1px solid black;
    border-radius: 10px;
}

thead {
    background-color: blue;
}

h1 {
    background-color: rgba(8, 85, 79, 0.342);
    width: 300px;
    border: 15px solid rgba(0, 128, 11, 0.637);
    padding: 70px;
    margin: 50px;
}

h4 {
    font-size: larger;
    color: rgb(173, 25, 25);
    border: 2px solid rgb(5, 4, 4);
    margin: 10px
}
p.center {
    text-align: center;
    color: red;
  }
  #para1 {
    text-align: center;
    color: rgb(55, 0, 255);
  }
